<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AD_UNIT_ID_FOR_BANNER_TEST</key>
	<string>ca-app-pub-3940256099942544/2934735716</string>
	<key>AD_UNIT_ID_FOR_INTERSTITIAL_TEST</key>
	<string>ca-app-pub-3940256099942544/4411468910</string>
	<key>CLIENT_ID</key>
	<string>778707734377-aml69d9msam480ka53n5nhrh71ps4t1i.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.778707734377-aml69d9msam480ka53n5nhrh71ps4t1i</string>
	<key>API_KEY</key>
	<string>AIzaSyDDI0SgsNts9b4mQOPqcRTpF8KebBW96wI</string>
	<key>GCM_SENDER_ID</key>
	<string>778707734377</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.thecrankfactory.imageDetector</string>
	<key>PROJECT_ID</key>
	<string>imagedetector-69194</string>
	<key>STORAGE_BUCKET</key>
	<string>imagedetector-69194.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<true></true>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<false></false>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:778707734377:ios:dc973afbd4b2209b</string>
	<key>DATABASE_URL</key>
	<string>https://imagedetector-69194.firebaseio.com</string>
</dict>
</plist>